@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #E5EBD5;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.menu {
    display: flex;
    padding-left: 2rem;
}

.menu li {
    list-style-type: none;
    cursor: default;
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 32px;
}

.menu li:not(:first-child) {
    padding-left: 88px;
}

.menu li:first-child {
    text-decoration: underline;
}

.divHeader {
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

/* START OF ABOUT PAGE */

.title {
    font-family: 'Kalnia', serif;
    font-weight: 400;
    font-size: 115px;
    margin: 0;
    padding: 0;
    line-height: 80px;
}

.sub-title {
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.divText {
    display: flex;
    margin-top: 5rem;
}

.divText p {
    margin-left: auto;
    margin-right: 4rem;
    text-align: right;
    font-family: 'Space Grotest', serif;
    font-weight: 400;
    font-size: 40px;
}

.divMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.hMiddle {
    font-family: 'Space Grotest', serif;
    font-weight: 700;
    font-size: 62px;
}

.divBot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.pLocation {
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 24px;
}

.btnReserve {
    background-color: #410257;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 66px;
    font-family: 'Space Grotesk', serif;
    font-weight: 500;
    font-size: 34px;
    color: white;
}

footer {
    background-color: #D7E2BA;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    padding: 50px;
}

.footer-links {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-links li {
    list-style-type: none;
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 24px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.copyright p {
    margin: 0;
    font-family: 'Space Grotesk', serif;
    text-align: right;
}

.copyright p:first-child {
    font-weight: 400;
    font-size: 32px;
}

.copyright p:last-child {
    font-weight: 400;
    font-size: 24px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: end;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.social-links img:last-of-type {
    margin-left: 4px;
}

/* START OF MENU PAGE */

.menu-container {
    padding-right: 32px;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    gap: 3rem;
}

.items-row {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.menu-item-info {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

