@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #E5EBD5;
    margin: 0;
}

.menu {
    display: flex;
    padding-left: 2rem;
}

.menu li {
    list-style-type: none;
    cursor: default;
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 32px;
}

.menu li:not(:first-child) {
    padding-left: 88px;
}

.divHeader {
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    font-family: 'Kalnia', serif;
    font-weight: 400;
    font-size: 115px;
    margin: 0;
    padding: 0;
    line-height: 80px;
}

.sub-title {
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}